.footer {
  padding: 10px 20px;
  background-color: #51917b;
  text-align: center;
  width: 100%; /* Asegura que el footer ocupe todo el ancho de la página */
  position: fixed; /* Fija el footer en la parte inferior */
  left: 0;
  bottom: 0px; /* Pegado al borde inferior de la página */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Opcional: Añade una sombra sutil para separación visual */
}
