.formulario-registro {
  background-color: rgb(16, 58, 57);
  padding: 20px;
  margin: 0 auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 10px;
}

.formulario-registro label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.formulario-registro input{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.formulario-registro .error-message {
  color: red;
  font-size: 0.9em;
  margin-top: -10px;
  margin-bottom: 10px;
  display: block;
}

.formulario-registro button[type="submit"] {
  background-color: rgb(46, 121, 109);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.formulario-registro button[type="button"] {
  background-color: rgb(46, 121, 109);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  text-decoration: none;
}

.formulario-registro button:hover {
  background: rgb(74, 196, 175);
}

h2 {
  margin-bottom: 20px;
}

.formulario-registro .botones {
  display: flex;
  flex-direction: row;
}

.formulario-registro .botones .textoBoton{
  color: rgb(255, 255, 255);
  font-size: 15px;
  width: 15 0px;
  margin-top: 10px;
}

.formulario-registro .botones .crearCuenta {
  display: flex;
  flex-direction: column;
}
