/* Login.css */

body {
    font-family: Arial, sans-serif;
  }
  
  .login {
    background-color: #c6d8f4;
    padding: 50px;
    margin: 0 auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 100px;
  }
  
  .login label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .login input[type="email"],
  .login input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .login button[type="button"] {
    background-color: #3b68e1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  .login button[type="button"]:hover {
    background-color: #2f50b7;
  }
  
  .login .botones {
    display: flex;
    justify-content: space-between;
  }
  