
  
  .close-button {
    margin-top: -10px;
    width: 85%;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: (255, 255, 255);
    background-color: rgb(46, 121, 109);
  }
  
  
  .modal-content h2 {
    margin: 0 0 20px;
    color: #fff;
  }
  
  .modal-content label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .modal-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .close-button:hover {
    background: rgb(74, 196, 175);
  }
  